
body{
	background-color: #101f27;
	margin:0;
}
#title{
	text-align: center;
	font-size: 4em;
	
	background-color:  #3CBC8D;
}
.enter-book{
	margin-left: 40%;
	margin-top: 2em;
    background-color:#3CBC8D;
    border-radius: 8px;
    cursor: pointer;
    font-size: 2em;

}
.form{
	margin:2em;
	border-radius: 12px;
    width:40%; 
	height:60%;
	color: white;
    background-color: #101f27;
    margin-left: 30%;
    margin-top:10%;
    font-size: 2em;
    padding:5%;
}
.btn{
    width: 100%;
    background-color:#3CBC8D;
    
    cursor: pointer;
    border-width: 0;
    border-radius: 8px;
    font-size: 1em;
    margin-top:5%;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}
.pop-up{
	display: block;
    transform: scale(1.2);
    transition: 3s;
    
}
.blur{
	
	/* filter: blur(2px);*/
}
.showcase{
	
    display: flex;
	flex-wrap: wrap;
	padding: 5%;
}
.visible{
	
	display: block;
	transition: 1s;
}
.card{
	height: 20vh;
	width: 40vh;
	margin: 3%;
    padding: 3%;
    font-size: 1.2em;
    border-radius: 12px;
    background-color: #3CBC8D;
}

input[type=text]{
	display: inline-block;
	width: 100%;
	height: 5%;

    border:none;
    border-bottom: 2px solid white;
    color: white;
    padding:4px;
    background-color: #101f27;
}
label{
	color: #3CBC8D;
	margin-top:5%;
}
.close{
	background-color:#3CBC8D;
	border:0;
	display: block;
	position: relative;
	left: 10%;
	bottom: 20%;
	margin-left: auto;
	cursor: pointer;

}
.close-form{
	background-color:#101f27;
	color: #3CBC8D;
	cursor: pointer;
	border:0;
	display: block;
	position: relative;
	left: 100%;
    bottom: 10%;
    font-size: 1;
    opacity: 0.5;
	
}